:root{
    --ver: #9E2020;
    --back: #3D2922;
    --green: #52AA50;
    --greenLight: #5DD119;
    --salmao: #D2744F;
}
body{
    background-color: var(--back);
}/*rgb(44, 40, 40)*/
.grid{
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-areas: "h h h"
                         "m m a"
                         "f f f";
    grid-column-gap: 10px;
}
header{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    background-color: #9e20203d;
    grid-area: h;
    box-shadow: 2px 2px 2px 1px #4e0f0f6e;
}
header a{
    margin-top: 5.5px;
}
main{
    width: auto;
    height: auto;
    background-color: var(--ver);
    grid-area: m;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #611414);  
   /*box-shadow: 3px 3px 3px 1px #611414;*/
}
main img{
    border-radius: 50%;
    margin: 1%;
    width: 150px;
    height: 150;
}
aside{
    width: auto;
    height: auto;
    background-color: var(--salmao);
    grid-area: a;
    background-image: linear-gradient(rgba(255, 0, 0, 0.144), #80432b);
    /*box-shadow: 3px 3px 3px 1px #723e29;*/

}
footer{
    width: auto;
    height: auto;
    grid-area: f;
}

a{
    text-decoration: none;
    font-size: 150%;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1.5px 1.5px 2px black;
}
