<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Homepage</title>
</head>
<body>
    <div class="grid">
        <header>
            <a href="#main"><strong>sobre mim</strong></a>
            <a href="@"><strong>parceiros</strong></a>
            <a href="@"><strong>contatos</strong></a>
        </header>
        <main id="main">
                <div class="container">
                    <div class="middle">
                        <div class="text">Alexander</div>
                    </div>
                    <img src="/static/images/littlePerfil.png" alt="Avatar" class="image">
                    <div class="GitImage"><a href="https://github.com/AluedoSan" target="_blank"><img src="/static/images/gitIcon.png" alt="github"></a></div>
                    <div class="GitImage"><a href="https://www.linkedin.com/in/alexander-ueno/" target="_blank"><img src="/static/images/icone-linkedin-ronde-originale.png" alt="Linkdin"></a></div>
                </div>
                <div class="mainText"><p>Opa tudo certo? meu nome é Alexander, e criei esse portifólio para ir aprimorando meus conhecimentos e habilidades em html/css e flask, já havia tentado criar outros portifólios, porém nenhum ficava do jeito que queria, sendo assim, este site será constantemente mudado. Sou estudante de ciência da computação na Unifil, atualmente no terceiro ano (quinto período), ando gostando bastante de estudar sobre essas ferramentas que estou implementando nesse site, e pretendo continuar aprendendo mais sobre elas, também participo do <abbr title="Núcleo de prática em informática">NPI</abbr> na Unifil também, e esse pouco tempo que estou aqui já consegui aprender muito sobre a área da tecnologia. </p></div>
        </main>
        <aside>
            <h1>Petz</h1>
            <div class="fotosPet"><img src="/static/images/Bianquinha.jpg" alt=""></div>
            <p>Essa é a Bianca</p>
            <div class="fotosPet"><img src="/static/images/Simbinha.jpg" alt=""></div>
            <p>E esse o Simbinha</p>
        </aside>
        <section>
            
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>